<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Game Vamp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap'); 
    </style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="/css/aboutus.css">
</head>
<body style="background-color: black;overflow-y: auto;">
    <div class="main_header" id="grad1" style="background-color: rgb(49, 48, 48) !important;margin-top: -300px !important">
        <span style="float: left;color: white;font-size: 60px;width:20%;">
            <img src="/images/logo.png" style="width:100%;margin:20px">
        </span>
        <span style="float: left;color: white;margin-top: 40px;
    font-family: 'Press Start 2P';font-size: 30px">
            GAME<br>VAMP
        </span>
        <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            <div class="topnav">
                <a id="tab-1" href="/">Home</a>
                <a href="/games" id="tab-2">Games</a>
                <a href="/news" id="tab-3">News</a>
                <a href="/teams/team-list" id="tab-4">Teams</a>
                <a href="/user_match/match">Matches</a>
                <a href="/api" id="tab-5">Tournaments</a>
                <a class="active" href="aboutus" id="tab-6">About</a>
                <form style="display: inline;" method="POST" action="/logout">
                    <a>
                        <button type="submit" class="btn btn-primary" >Log out</button>
                    </a>
                </form>
            </div>
        </span>
    </div>
    
    <div style="float: left;background-image: url(https://i.gifer.com/K87.gif);">
        <img src="https://i.gifer.com/K87.gif">
    </div>
    <div class="about_us" style="width: 900px;margin-right: 80px;padding: 44px;">
        <h1 style="color: blanchedalmond;">About Us</h1>
        <h2 style="color: blanchedalmond;">Why this Website ?</h2>
        <p2 style="color: white;">We are living in a world where people are making millions of dollars from computer games. Those of you who remember the days when computer games started to become really popular probably remember that people used to say that they are just a waste of time.

            Needless to say, the situation today is a lot different. Not only are there millions of gamers from every continent, but there are also specialized schools and even universities where people study some games, which are considered as eSports.</p2>
        <h2 style="color: blanchedalmond;">Aim of this website</h2>
        <p2 style="color: white;">The aim of this website is to keep the user updated regarding esports tournaments/matches ( the results are published by an admin after the match is over ) , also the users can create teams for custom matches for a reward the users can see the live on the website</p2>        
        <h2 style="color: blanchedalmond;">Technologies Used</h2>
        <p2 style="color: white;">We have used various technologies. They are mentioned below</p2>   
    </div>

    <div class="wrapper" style="margin-top: 290px;">
        <div class="cards" style="display: inline-flex;margin-left: 500px;">
            <button id="dota" style="background-color: black;border: none;">
                <figure class="card">
                    <img src="https://miro.medium.com/max/3200/1*xdo0UBpyszvD7-7EH4TkIA.png" />
                    <figcaption id="dota2">NodeJs</figcaption>
                </figure>
            </button>
            <button id="csgo" style="background-color: black;border: none;">
                <figure class="card">
                    <img src="https://techbeacon.com/sites/default/files/styles/social/public/html5-mobile-app-native-hybrid-pros-cons.jpg?itok=R3pMKIzh" />
                    <figcaption id="cs">HTML</figcaption>
                </figure>
            </button>
            <button id="valo" style="background-color: black;border: none;">
                <figure class="card">
                    <img src="https://pixelmechanics.com.sg/wp-content/uploads/2019/04/css.jpg" />
                    <figcaption id="valorant" style="color: black;">CSS</figcaption>
                </figure>
            </button>
            <button id="valo"style="background-color: black;border: none;">
                <figure class="card">
                    <img src="https://i.imgur.com/1VvfQXU.jpg" />
                    <figcaption id="valorant">Passport Js</figcaption>
                </figure>
            </button>
            <button id="bootstrap" style="background-color: black;border: none;">
                <figure class="card">
                    <img src="https://graygrids.com/wp-content/uploads/bootstrap-ui-kits.jpg" />
                    <figcaption id="bootstrap" style="color: black;">Bootstrap</figcaption>
                </figure>
            </button>
            <button id="ow" style="background-color: black;border: none;">
                <figure class="card">
                    <img
                        src="https://brand.jquery.org/resources/jquery-mark-dark.gif" />
                    <figcaption id="overwatch">jQuery</figcaption>
                </figure>
            </button>
            <button id="javascript" style="background-color: black;border: none;">
                <figure class="card">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1024px-Unofficial_JavaScript_logo_2.svg.png" />
                    <figcaption id="bootstrap">Javascript</figcaption>
                </figure>
            </button>
            
            <button id="ow" style="background-color: black;border: none;">
                <figure class="card">
                    <img
                        src="https://cdn.worldvectorlogo.com/logos/mysql-3.svg" />
                    <figcaption id="overwatch" style="color: black;">MySql</figcaption>
                </figure>
            </button>
            
</div>
</div>
</body>
