<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teams</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/HomePage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    
    <style>
        .accordion {
          background-color: #eee;
          color: #444;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
          transition: 0.4s;
        }
        
        .active, .accordion:hover {
          background-color: #ccc;
        }
        
        .accordion:after {
          content: '\002B';
          color: #777;
          font-weight: bold;
          float: right;
          margin-left: 5px;
        }
        
        .active:after {
          content: "\2212";
        }
        
        .panel {
          padding: 0 18px;
          background-color: white;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
        }
        </style>
</head>
<body >
    <div class="main_header" id="grad1">
        <span style="float: left;color: white;font-size: 60px;width:20%;">
            <img src="/images/logo.png" style="width:100%;margin:20px">
        </span>
        <span style="float: left;color: white;margin-top: 40px;
    font-family: 'Press Start 2P';font-size: 30px">
            GAME<br>VAMP
        </span>
        <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            <div class="topnav">
                <a class="active" id="tab-1" href="/HomePage">Home</a>
                <a href="/games" id="tab-2">Games</a>
                <a href="/news" id="tab-3">News</a>
                <a href="/teams/team-list" id="tab-4">Teams</a>
                <a href="/api" id="tab-5">Tournaments</a>
                <a href="/aboutus" id="tab-6">About</a>
                <form method="POST" action="/logout">
                    <button type="submit" class="btn btn-primary">Log out</button>
                </form>
            </div>
        </span>
    </div>
    <br>
    <div style="margin-top: 160px !important;float:left;width:66%;margin-bottom:50px" class="container mt-4">
        <button class="accordion">Your teams</button>
        <div class="panel">
            <div>               
               
            </div>
        </div>

        <button class="accordion">Edit Teams</button>
        <div class="panel">
            
                    
        </div>

        <button class="accordion">Delete Teams</button>
        <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>  
    <div class="form_body mody_disp">
        <span>
            <img src="https://www.flaticon.com/svg/vstatic/svg/2317/2317981.svg?token=exp=1615482223~hmac=8ed1cb1efcc4f3b6c4dd6036040814a3" style="width: 60%;margin-left:92px;">
        </span>
         <h1>Logged in as <span id="cookie_see"></span></h1>
    </div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script>
            document.getElementById("cookie_see").innerHTML=Cookies.get('name');
            JSON.parse(Cookies.get('name1').slice(2))
        </script>
</body>
</html>
