<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Game Vamp Admin</title>
    <link rel="stylesheet" href="/css/HomePage.css">
    <link rel="stylesheet" href="/css/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');    
    </style>
</head>

<body>
    <div style="display: flex;">
        <img src="/images/logo.png" style="width:50%;margin:20px;    margin: 50px 0px 0px 150px;">
        <h1 style="font-family: 'Press Start 2P', cursive;color: white;margin-top: 100px;font-size: 50px ;">GAME<br>VAMP<br>(admin)</h1>
    </div>
    <div class="container">
        <div class="card">
          <span></span>
          <div class="content">
            <h3>Add Matches</h3>
            <p>Add relevent details of already occurred matches for the user to view</p>
            <a href="/add_match">Add</a>
          </div>
        </div>
        <div class="card">
          <span></span>
          <div class="content">
            <h3>View User details</h3>
            <p>View details of the respective user (except the password)</p>
            <a href="/users/user-list">View</a>
          </div>
        </div>
        <div class="card">
          <span></span>
          <div class="content">
            <h3>Report/Feedback</h3>
            <p>View reports or feedback submited by users</p>
            <a href="/reports/report-list">View</a>
          </div>
        </div>
        <div class="card">
          <span></span>
          <div class="content">
            <h3>Registered Teams</h3>
            <p>View Registered teams for respective tournaments</p>
            <a href="/reg_teams">View teams</a>
          </div>
        </div>
      </div>
     
    </div>
</body>

</html>